anvil_uplink==0.4.2
keras==2.11.0
lxml==4.9.2
matplotlib==3.6.2
mss==9.0.1
numpy==1.24.1
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
pandas==1.5.3
Pillow==9.5.0
pygrabber==0.1
PyQt5==5.15.9
PyQt5_sip==12.11.1
PyQt6==6.5.0
PyQt6_sip==13.4.0
PySimpleGUI==4.60.4
PySimpleGUI==4.60.4
scipy==1.10.1
tensorflow==2.11.0
tensorflow_intel==2.11.0
tqdm==4.64.1
